@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family: Verdana, Genava, Tahoma, sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
    
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #898989;
}

/*-------Header-----------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: none;
    margin-bottom: 100px;
    z-index: 60000;
  }
  
  header.sticky{
    background-color: #fff;
    padding: 20px 100px;
    z-index: 60000;
  }
  header.sticky .logo{
    color: #000;
  }
  header.sticky ul li a{
    color: #000;
  }
  
  header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase; /* MAJUSCULE */
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  header ul{
    position: relative;
    display: flex;
    margin-right: 100px;
  }
  
  header ul li {
    position: relative;
    list-style: none;
    margin-right: 50px;
  }
  
  header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
  }
  
  header ul li a:hover{
    color:rgb(182, 35, 35);
  }