@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family: Verdana, Genava, Tahoma, sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
    
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(img/background.png);
    background-attachment: fixed;
}

/*-------------------------------------Header------------------------------------*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: none;
    margin-bottom: 100px;
    z-index: 60000;
    }

    header.sticky{
    background-color: #fff;
    padding: 20px 100px;
    z-index: 60000;
    }
    header.sticky .logo{
    color: #000;
    }
    header.sticky ul li a{
    color: #000;
    }

    header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase; /* MAJUSCULE */
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    }

    header ul{
    position: relative;
    display: flex;
    margin-right: 100px;
    }

    header ul li {
    position: relative;
    list-style: none;
    margin-right: 50px;
    }

    header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    }

    header ul li a:hover{
    color:darkorange;
    }

    /*-------------------------------------Main------------------------------------*/
    .pres_container {
        width: 1363px;
        height: 600px;
        background-color: white;
        margin: 10%;
        padding-top: 1px;
    }

    .presentation {
        display: flex;
        width: 1340px;
        height: 575px;
        border: 2px #c5c5c5 solid;
        margin: 12px;
        padding: 48px 82px;
    }

    .presentation img {
        width: 350px;
    }

    .pcs {
        padding-right: 85px;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        margin-left: 51px;
        font-size: 43px;
    }

    .line {
        border-left: 1px solid black; 
        height: 448px; 
        display: inline-block;
        padding : 40px;
    }

    .identity {
        list-style: none;
        margin-top: 100px;
    }

    li p {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        padding-bottom: 5px;
    }

    .pass_container {
        width: 1363px;
        height: 700px;
        background-color: white;
        margin: 10%;
        padding-top: 1px;
    }

    .passion {
        width: 1340px;
        height: 675px;
        border: 2px #c5c5c5 solid;
        margin: 12px;
        padding: 48px 82px;
    }

    .title {
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-left: 578px;
        font-size: 122px;
        margin-top: 54px;
    }

    .dessin img {
        width: 330px;
        margin-top: 10px;
        margin-right: 39px;
    }

    .dessin {
        margin-left: 53px;
    }

    .passion h1 {
        font-family: 'Roboto', sans-serif;
        margin-left: 510px;
        font-size: 55px;
    }

    .middle {
        margin-bottom: 60px;
    }

    .jv_container {
        width: 1363px;
        height: 853px;
        background-color: white;
        margin: 10%;
        padding-top: 1px;  
    }

    .jv {
        width: 1340px;
        height: 826px;
        border: 2px #c5c5c5 solid;
        margin: 12px;
        padding: 48px 82px;
    }

    .jv img {
        width: 1170px;
        margin-top: 30px;
    }

    .jv h1 {
        margin-left: 480px;
    }

    .music_container {
        width: 1363px;
        height: 608px;
        background-color: white;
        margin: 10%;
        padding-top: 1px;
    }
    
    .music {
        width: 1340px;
        height: 582px;
        border: 2px #c5c5c5 solid;
        margin: 12px;
        padding: 48px 82px;
    }
    
    .artistes img {
        width: 330px;
        margin-top: 10px;
        margin-right: 39px;
    }
    
    .artistes {
        margin-left: 53px;
        display: flex;
        margin-top: 34px;
    }
    
    .artistes h1 {
        font-family: "Roboto", sans-serif;
    }
    
    .gori {
        margin-left : 100px;
    }
    
    #t_msc {
        margin-left: 490px;
    }